<form
  style="padding: 5rem; display: flex; flex-direction: column"
  class="example-form"
>
  <mat-form-field class="example-full-width">
    <mat-label>Score</mat-label>
    <input matInput type="number" placeholder="Ex. 200" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    style="margin-right: 1rem"
    color="primary"
    style="margin-bottom: 1rem"
  >
    Create rating
  </button>
</form>
